# Python
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Python egg files
*.egg
*.egg-info/
dist/
build/
